bin
dist
output
logs/*
stderr.log
ivy-lib
server/doc/api/
server/node/feeds/
thirdparty/tools
ru.cdev.xnext/jssize.log
tomcat
.gwt-tmp
*.JUnit
gwt-unitCache
ru.cdev.assets/lib
ru.cdev.xnext/war
ru.cdev.xnext/WebContent/*
ru.cdev.xnext/test/database.properties
ru.cdev.assets/assets.properties
ru.cdev.xnext/imager.properties
ru.cdev.xnext/packman.properties
ru.cdev.xnext/packman.keystore
ru.cdev.xnext/logs/
ru.cdev.xnext/node.id
ru.cdev.xnext/packman.id


# Eclipse settings
.project
.classpath
.metadata
.settings
server/ivysettings-ide.xml
server/doc/api

# Vagrant
.vagrant/
!vagrant/**/bin

# Docker
!docker/**/bin
Dockerfile
!/docker/**/Dockerfile
!/server/**/Dockerfile
!/our-apps/**/Dockerfile
!/ru.cdev.xnext.proxy/Dockerfile
!/appdirect/Dockerfile
!/node/app/Dockerfile

# StartUp
startup.sh
!/server/**/startup.sh
!/our-apps/**/startup.sh
!/node/app/startup.sh
!/appdirect/startup.sh
!/proxy/app/startup.sh
/proxy/app/proxy.id

# IDEA settings
.idea/
*.iml
out/

# Gradle files
build
.gradle

# System files
.DS_Store

# gwt compilation result
ru.cdev.*/webapp/ru.cdev.*/
ru.cdev.*/webapp/WEB-INF/deploy/ru.cdev.*/
ru.cdev.xnext/webapp/WEB-INF/classes/
ru.cdev.xnext/webapp/WEB-INF/lib/
ru.cdev.xnext/webapp/com.allen_sauer.gwt.dnd.gwt-dnd/

# SASS compilation files
ru.cdev.xnext/webapp/styles/
ru.cdev.xnext/src/ru/cdev/xnext/scss/config/
ru.cdev.xnext/.sass-cache
sassme/app/src/scss/framework/_google-fonts.scss

# tests configuration files
ru.cdev.ws/test/ws.test.properties
ru.cdev.xnext/test/node.test.properties
ru.cdev.xnext/spy.log
ru.cdev.xnext.billing.impl/test/billing.properties
ru.cdev.xnext.facebook/test/facebook.test.properties
ru.cdev.xnext.facebook/facebook.properties
master/app/test/master.properties
ru.cdev.xnext.proxy/test/testproxy.properties
ru.cdev.xnext.tools/selenium*.xml
ru.cdev.assets/assets.properties
crawler/app/crawler.properties
stripeapp/stripe.properties
appdirect/appdirect.properties
/**/test/*.properties

gradle/run/partner-service
gradle/run/bcrypter
gradle/run/wix
gradle/run/stripe-service

# Ebay Service
ebay/app/ebay.properties
ebay/app/logs
ebay/app/node.id

wix/logs
wix/wix.id
wix/wix.properties

regina/api/logs/
regina/api/regina-api.test.id
regina/api/regina-api.test.properties

square/app/logs
square/app/square.id
square/app/square.properties

webhooks/app/logs
webhooks/app/webhooks.id
webhooks/app/webhooks.properties

#shop-at
shop-at/ios/PB.xcodeproj/project.pbxproj
shop-at/ios/PB.xcodeproj/project.xcworkspace/xcuserdata
shop-at/node_modules/.bin
shop-at/node_modules/react-native/Libraries
shop-at/node_modules/react-native/node_modules
shop-at/node_modules/react-native/React/React.xcodeproj/xcuserdata

node_modules/
elm-stuff/
docker/nginx/conf/conf.d/service-*.conf

!/tools/local-cluster/bin
