<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestAll">
    <test name="negative">
        <classes>
            <class name="ru.autotest.NegativeTest" />
        </classes>
    </test>

    <test name="positive">
        <classes>
            <class name="ru.autotest.PositiveTest" />
        </classes>
    </test>

    <test name="experimental">
        <classes>
            <class name="ru.autotest.FirstTestSelenide" />
        </classes>
    </test>
</suite>

